


.form-group {
  display: flex;
  flex-direction: row;
  /* Arrange label and select side by side */
  justify-content: center;
  /* Center them horizontally */
  align-items: center;
  /* Center them vertically */
  margin-top: 20px;
}

.mat-elevation-z8 th {
  background-color: aliceblue;
}


select {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

select:focus {
  outline: none;
}


/* Style the options in the dropdown */
select option {
  background-color: #fff;
  color: #333;
}



// .mat-form-field {
//   font-size: 14px;
//   width: 100%;
// }

// .mat-table {
//   overflow: auto;
//   max-height: 500px;
// }


