<div>
    <mat-card class="main-card">
      <mat-card-header class="card-header">
        <mat-card-title>Floor Partition Details</mat-card-title>
       </mat-card-header>
    </mat-card>
  </div>
  
  <!-- <mat-card class="content-card">
    <mat-card-content class="card-header">
      <div class="form-group ">
        <label for="towerSelect">Select a Tower :</label>
        <select id="towerSelect" name="tower" [(ngModel)]="selectedTowerId" (change)="onTowerSelectionChange()">
          <option *ngFor="let tower of towerData" [value]="tower.tower_id">{{ tower.tower_name }}</option>
        </select>
      </div>
     </mat-card-content>
  </mat-card>

  <mat-card class="content-card">
    <mat-card-content class="card-header">
      <div class="form-group ">
        <label for="towerSelect">Select a Tower :</label>
        <select id="towerSelect" name="tower" [(ngModel)]="selectedTowerId" (change)="onTowerSelectionChange()">
          <option *ngFor="let tower of towerData" [value]="tower.tower_id">{{ tower.tower_name }}</option>
        </select>
      </div>
    </mat-card-content>
  </mat-card> -->